[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
tox = "*"
twine = "*"

[packages]
django = "==2.2"
pytz = "==2019.1"

[requires]
python_version = "3.6"
