@font-face {
    font-family: 'Lalehzar';
    src: url('../fonts/lalehzar/Lalehzar-Regular.svg');
    src: url('../fonts/lalehzar/Lalehzar-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/lalehzar/Lalehzar-Regular.woff2') format('woff2'),
    url('../fonts/lalehzar/Lalehzar-Regular.woff') format('woff'),
    url('../fonts/lalehzar/Lalehzar-Regular.ttf') format('truetype'),
    url('../fonts/lalehzar/Lalehzar-Regular.svg#Lalehzar-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    line-height: 1.8em;
}

li:not(:last-child) {
    padding-bottom: 0.8em;
}

q {
    font-style: italic;
    padding-left: 1.5em;
    line-height: 1.8em;
}

.light:not(a) {
    color: #20252d;
    background: #eef0f2;
    transition: 0.5s;
}

.dark:not(a) {
    color: #fff !important;
    background: #101c29 !important;
    transition: 0.5s;
}

.item.dark {
    color: #adadad !important;
}

.item.dark:hover {
    color: #fff !important;
}

.masthead {
    padding: 1em 0;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: normal;
    font-family: Lalehzar, serif;
}

.masthead h2 {
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.masthead p {
    padding-top: 4em;
    padding-bottom: 4em;
}

.footer {;
    margin-top: auto;
}

.secondary.pointing.menu .toc.item {
    display: none;
}

.ui.secondary.pointing.menu {
    border: none;
}

.ui.grid {
    margin-bottom: 0;
}

pre {
    margin: .8rem 0;
    padding: .8rem;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: pre;
    word-wrap: normal;
    overflow: auto !important;
    font-size: 12px;
    background-color: rgba(0, 0, 0, .05);
    border-radius: 3px;
}

code {
    background-color: rgba(0, 0, 0, .05);
    border-radius: 3px;
    line-height: 22px;
    font-size: 12px;
    padding: 3px;
    color: #3a3a3a;
}

.dark code {
    color: #bbb;
}

pre code {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 700px) {
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }

    .secondary.pointing.menu .toc.item {
        display: block;
    }

    .masthead h1.ui.header {
        font-size: 3em;
        margin-top: 1.5em;
    }

    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1em;
    }
}
